# Data Science Tools and Ecosystem

### Some of the popular languages that Data Scientists use are:

* Python
* R
* java
* Swift

Some of the commonly used libraries used by Data Scientists include:

* TensorFlow
* SciKit-learn
* Seaborn
* Matplotlib
* Pandas
* Numpy

### Open source tools used in data science:

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

In [11]:

%%html
<style>
table {float:left}
</style>

### Below are a few examples of evaluating arithmetic expressions in Python.:

In [12]:
print(1 + 1)
print(2 + 3)

2
5

In [13]:
# This is a simple arithmethic expression to mutiply then add integers.
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60.
print(200//60)
print(200/60)

3
3.3333333333333335

**Objectives:**

* What are popular languages used for Data Science
* What are some common libraries used for Data Science
* What are some tools used for Data Science

## Author
MIldrien Horton